@charset "UTF-8";

* html, body {
    background-color: #414141;
    color: #FFF;
}

header {
    padding: 15px 0;
    border-bottom: solid 1px rgba(255,255,255,0.2);
}

header div.logo {
    max-width: 250px;;
    margin: 0 auto;
}

.box {
    border: 1px solid #DDD;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    background:rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h2 {
    font-size: 22px;
}